:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#e0e0e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
} 